<h3 class="mt-3">Pizzalista</h3>
<hr>
<div class="row">

    <div class="card" ng-repeat="pizza in pizzak">

        <img src="../Public/assets/img/nopic.png" class="img img-thumbnail" ng-if="pizza.filename == ''">
        <img src="../Public/uploads/{{ pizza.filename }}" class="img img-thumbnail" ng-if="pizza.filename != ''">
        <div class="card-body">
            <h5 class="card-title">{{ pizza.name }}</h5>
            <h6>{{ pizza.price | number: decimals }} {{ penznem }}</h6>
            <p class="card-text">{{ pizza.description }}</p>
            <p class="card-text text-muted fs-6">({{ pizza.kcal }} kcal )</p>
        </div>

        <div class="card-footer row m-0">
            <p class="col-2"></p>
            <input type="number" name="" id="" value="1" min="1" class="col-3 form-control valaszto" ng-model="db[$index]">
            <p class="col-1"></p>
            <button class="btn btn-primary btn-sm col-4" ng-click="kosarba($index)">Kosárba</button>
            <p class="col-2"></p>
        </div>
    </div>

</div>