<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <div class="container">
      
        <main>
            <form action="" method="post">
                <h1 class="m-3">Belépés</h1>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Név">
                    <label for="nickname">Név</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="passwd" name="passwd" placeholder="Jelszó">
                    <label for="passwd">Jelszó</label>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" id="kategoria" name="kategoria">
                  <option selected>Válassz...</option>
                  <option value="Tanar">Tanár</option>
                  <option value="Diak">Diák</option>
                </select>
                    <label for="Tipus">Típus</label>
                </div>

                <a href="/angular/angular_vizsga/views/Vizsgabejelentes.html" class="btn btn-primary mt-1 mb-1">Vizsgabejelentés</a>
                <a href="/angular/angular_vizsga/views/Vizsgajelentkezs.html" class="btn btn-primary mt-1 mb-1">Vizsgajelentkezés</a>


            </form>
        </main>
        
        
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>