<h3>Munkáink</h3>
<div class="parent">
    <div class="div1"> 
        <h3>Kert rendezés</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit laboriosam eius cupiditate possimus quia delectus repellendus quaerat, neque explicabo ad dignissimos nemo et ipsa error soluta natus inventore temporibus eligendi.</p>
        <img src="../img/rendez.PNG" alt="">
    </div>
    <div class="div2"> 
        <h3>Kert kivitelezés</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit laboriosam eius cupiditate possimus quia delectus repellendus quaerat, neque explicabo ad dignissimos nemo et ipsa error soluta natus inventore temporibus eligendi.</p>
        <img src="../img/kivitel.PNG" alt="">
    </div>
    <div class="div3"> 
        <h3>PihenőKert</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit laboriosam eius cupiditate possimus quia delectus repellendus quaerat, neque explicabo ad dignissimos nemo et ipsa error soluta natus inventore temporibus eligendi.</p>
        <img src="../img/piheno.PNG" alt="">
    </div>
    <div class="div4"> 
        <h3>Kerti járda</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit laboriosam eius cupiditate possimus quia delectus repellendus quaerat, neque explicabo ad dignissimos nemo et ipsa error soluta natus inventore temporibus eligendi.</p>
        <img src="../img/gettyimages-1096311222-768x512.jpg" alt="">
    </div>
    <div class="div5"> 
        <h3>Kert karbantartás</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit laboriosam eius cupiditate possimus quia delectus repellendus quaerat, neque explicabo ad dignissimos nemo et ipsa error soluta natus inventore temporibus eligendi.</p>
        <img src="../img/karbantartas.PNG" alt="">
    </div>
    <div class="div6"> 
        <h3>Gyepszőnyegezés</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit laboriosam eius cupiditate possimus quia delectus repellendus quaerat, neque explicabo ad dignissimos nemo et ipsa error soluta natus inventore temporibus eligendi.</p>
        <img src="../img/gyep.PNG" alt="" srcset="">
    </div>
    </div>
<hr>